<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">RegistrAPP</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="logo">
    <img src="https://media-exp1.licdn.com/dms/image/C4E0BAQF-gvAcQrbRDQ/company-logo_200_200/0/1559855220726?e=2159024400&v=beta&t=4W6rdALJ_eXNsmPZ_u3OXUS_ZP6iR1rRy7h_HPTUfVU">
  </div>

  <br>
  <ion-label *ngFor= "let usuario of users" class="ion-text-center">
    <h1>Bienvenid@, {{usuario.usuario}}</h1>
  </ion-label>
  <br><br>

  <ion-item href="https://www.duoc.cl/" target="_blank">
    <ion-label>Ir a duoc.cl</ion-label>
  </ion-item> 
  <br><br>
  <ion-item href="https://campusvirtual.duoc.cl/" target="_blank">
    <ion-label>Ir al AVA</ion-label>
  </ion-item> 

</ion-content>
