<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">RegistrAPP</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <br>
  <ion-label *ngFor= "let usuario of users" class="ion-text-center">
    <h1>Bienvenid@, {{usuario.usuario}}</h1>
  </ion-label>

  <ion-item href="https://www.duoc.cl/" target="_blank">
    <ion-label>Ir a duoc.cl</ion-label>
  </ion-item> 
  <br><br>
  <ion-item href="https://campusvirtual.duoc.cl/" target="_blank">
    <ion-label>Ir al AVA</ion-label>
  </ion-item> 

</ion-content>
